﻿<%@ Master Language="VB" CodeFile="Main.master.vb" Inherits="Admin_MasterPage_Main" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/theme.css">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css">

    <script src="../lib/jquery-1.8.1.min.js" type="text/javascript"></script>

    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

            .brand .first {
                color: #ccc;
                font-style: italic;
            }

            .brand .second {
                color: #fff;
                font-weight: bold;
                font-family: Arial;
            }
    </style>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if IE 7]>
        <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.css">
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <script src="../ckeditor/ckeditor.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!--<![endif]-->

        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <ul class="nav pull-right">

                        <li id="fat-menu" class="dropdown">
                            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>

                                <asp:Literal ID="ltUser" runat="server"></asp:Literal>
                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="../A-Home/signout.aspx">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                    <a class="brand" href="#"><span class="first">
                        <img alt="Nexa Logo" src="../images/logo20.png" /></span> <span class="second">CMS</span></a>
                </div>
            </div>
        </div>


        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span3">
                    <div class="sidebar-nav">
                        <div class="nav-header" data-toggle="collapse" data-target="#dashboard"><i class="icon-dashboard"></i>Dashboard</div>
                        <ul id="dashboard"  class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("/A-Home/") %>'><a href="../A-Home/Home.aspx">Home</a></li>
                            <li class='<%= GetCurrentClass("AllHTML.aspx","HTML.aspx") %>'><a href="../A-HTML/AllHTML.aspx">Other Text</a></li>
                            <li class='<%= GetCurrentClass("LeftNavigations.aspx")%>'><a href="../A-HTML/LeftNavigations.aspx">Left Navigation Texts</a></li>
                        </ul>


                        

                        <div class="nav-header" data-toggle="collapse" data-target="#Environment"><i class="icon-picture "></i>Modules</div>
                        <ul id="Ul1"  class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("AllItems.aspx","Item.aspx")%>'><a href="../A-Saadiyat/AllItems.aspx">Your Saadiyat</a></li>
                             <li class='<%= GetCurrentClass("AllCulturalCentre.aspx","CulturalCentre.aspx")%>'><a href="../A-Inspiration/AllCulturalCentre.aspx">Your Inspiration</a></li>
                            <li class='<%= GetCurrentClass("AllLeisure.aspx","Leisure.aspx")%>'><a href="../A-Leisure/AllLeisure.aspx">Your Leisure</a></li>
                           <li class='<%= GetCurrentClass("AllYourHome.aspx","YourHome.aspx")%>'><a href="../A-YourHome/AllYourHome.aspx">Your Home</a></li>
                             <li class='<%= GetCurrentClass("AllInstitutions.aspx","Institute.aspx")%>'><a href="../A-Education/AllInstitutions.aspx">Your Education</a></li>
                           <li class='<%= GetCurrentClass("AllResorts.aspx","Resort.aspx")%>'><a href="../A-Stay/AllResorts.aspx">Your Stay</a></li>
                             <li class='<%= GetCurrentClass("AllEnvironments.aspx","Environment.aspx")%>'><a href="../A-Environment/AllEnvironments.aspx">Your Environment</a></li>
                            
                            
                           
                            
                            

                            <li class='<%= GetCurrentClass("AllPropertyCategory.aspx","AllProperty.aspx","Property.aspx")%>'><a href="../A-Properties/AllPropertyCategory.aspx">Buy or Sell Properties</a></li>
                            
                        </ul>
                        
                        <div class="nav-header" data-toggle="collapse" data-target="#Events-menu"><i class="icon-picture "></i>Events/Promotion</div>
                        <ul id="Events-menu" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("/A-Event/")%>'><a href="../A-Event/AllEvent.aspx">Events</a></li>
                            <li class='<%= GetCurrentClass("/A-Promotion/")%>'><a href="../A-Promotion/AllPromotion.aspx">Promotion</a></li>
                            
                        </ul>

                         <div class="nav-header" data-toggle="collapse" data-target="#Media-menu"><i class="icon-picture "></i>Media Centre</div>
                        <ul id="Ul2" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("AllNews.aspx")%>'><a href="../A-News/AllNews.aspx">News</a></li>
                            <li class='<%= GetCurrentClass("AllSpecialNews.aspx")%>'><a href="../A-News/AllSpecialNews.aspx">Featured & Press</a></li>
                        </ul>
                        

                         <div class="nav-header" data-toggle="collapse" data-target="#Contact-menu"><i class="icon-picture "></i>Contact Details</div>
                        <ul id="Contact-menu" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("AllLocations.aspx","Location.aspx")%>'><a href="../A-Contact-Address/AllLocations.aspx">Contact Location</a></li>
                            <li class='<%= GetCurrentClass("/A-Contact/")%>'><a href="../A-Contact/AllContact.aspx">User Contact Enquiry</a></li>
                            <li class='<%= GetCurrentClass("/A-NewsletterSubscription/")%>'><a href="../A-NewsletterSubscription/AllNewsletterSubscription.aspx">Newsletter Report</a></li>
                            <li class='<%= GetCurrentClass("MapLocations.aspx","MapLocationEdit.aspx")%>'><a href="../A-Contact-Address/MapLocations.aspx">Map Locations</a></li>
                        </ul>
    
                       
                        <div class="nav-header" data-toggle="collapse" data-target="#Social-menu"><i class="icon-picture "></i>Social Media</div>
                        <ul id="Social-menu" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("ImportInstagram.aspx") %>'><a href="../A-Instagram/ImportInstagram.aspx">Import Instagram</a></li>
                            <li class='<%= GetCurrentClass("InstagramImages.aspx") %>'><a href="../A-Instagram/InstagramImages.aspx">Selected Instagram Images</a></li>

                        </ul>


                        <div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-picture "></i>Gallery</div>
                        <ul id="accounts-menu" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("/A-Banner/") %>'><a href="../A-Banner/AllTopBanner.aspx">Banners</a></li>                            
                            <li class='<%= GetCurrentClass("AllGallery.aspx","AllGalleryItem.aspx","Gallery.aspx","GalleryItem.aspx") %>'><a href="../A-Gallery/AllGallery.aspx">Image Gallery</a></li>
                          

                            <%-- <li class='<%= GetCurrentClass("ImportInstagram.aspx") %>'><a href="../A-Instagram/ImportInstagram.aspx">Import Instagram</a></li>
                    <li class='<%= GetCurrentClass("InstagramImages.aspx") %>'><a href="../A-Instagram/InstagramImages.aspx">Selected Instagram Images</a></li>                  --%>
                        </ul>


                        <div class="nav-header" data-toggle="collapse" data-target="#seo-menu"><i class="icon-map-marker "></i>SEO</div>
                        <ul id="seo-menu" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("A-SEO") %>'><a href="../A-SEO/AllSEO.aspx">SEO Plugin</a></li>
                            <li class='<%= GetCurrentClass("A-SEO") %>'><a href="../A-SEO/SEOReport.aspx">SEO Report</a></li>
                        </ul>

                        <div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-user"></i>Settings</div>
                        <ul id="legal-menu" class="nav nav-list collapse in">
                            <li class='<%= GetCurrentClass("/A-Login/") %>'><a href="../A-Login/AllUser.aspx">User Management</a></li>
                            <li class='<%= GetCurrentClass("/A-DBBackup/") %>'><a href="../A-DBBackup/DBBackup.aspx">DB Backup</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <script type="text/javascript" src="../lib/jqplot/jquery.jqplot.min.js"></script>
                    <script type="text/javascript" charset="utf-8" src="../javascripts/graphDemo.js"></script>



                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>

                </div>
            </div>

        </div>

        <footer>
            <hr>
            <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
            <%-- <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>--%>


            <p>&copy; <%= Date.Now.Year %> <a href="http://www.digitalnexa.com">Nexa</a></p>
        </footer>




        <!-- Le javascript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../lib/bootstrap/js/bootstrap.js"></script>
    </form>
</body>
</html>
