﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Admin/MasterPage/Main.master" AutoEventWireup="false" CodeFile="LeftNavigations.aspx.vb" Inherits="Admin_A_HTML_LeftNavigations" %>

<%@ Register Src="~/Admin/A-HTML/HTMLs.ascx" TagPrefix="uc1" TagName="HTMLs" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:HTMLs runat="server" ID="HTMLs" />
</asp:Content>

